{% extends "core/base.html" %}
{% block title%}{{page_title}}{%endblock title%}
{% block content%}


    <div class="container-fluid ">
        <div class="row mb-5">
            
                <img  src="{{ page.cover.url }}" alt="My image" width="400" height="400">        
                
        </div>
        {% include "page/components/hero_component.html" %}


  
    <div class="row mt-5 mb-5  ">
        <div class="col-sm-6 offset-sm-3 border border-dark ">
            {{ page.content|safe }}
        </div>
        </div>

  

    
    {% endblock %}



    <!-- FOOTER -->
  