{% extends "core/base.html" %}

{% block container %}




<div class="row g-0 text-center">
    <div class="col-sm-8 ">
        <br><br>
        {% if category %}
        <h1>{{ category.title|upper }}</h1>
        {% elif tag %}
        <h1>{{ tag.title|upper }}</h1>
        {% else %}
        <h1>Tüm Postlar</h1>
        {% endif %}
        <br><hr><br>
        {% for post in page_obj %}
        <div class="row">
            <div class="col-sm-4">
                <img src="{{ post.cover.url }}" alt="{{ post.title }}" width="200" height="200" >
                
            </div>
            <div class="col-sm-8"> <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content|safe|truncatewords:15 }}</p>
                    {% for tag in post.tag.all %}
                    <a  href="{{ tag.get_absolute_url }}" class="badge rounded-pill text-bg-secondary">
                        {{ tag }}</a>
                        {% endfor %}
                        <br><br>
                        <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Gözat</a>
                    </div>

                    
                 
                <div class="card-footer text-muted text-end">
                    {{ post.created_at}}
                </div>
            </div></div>
           
        </div>
       
        {% endfor %}
    </div>
    <div class="col-sm-3 offset-1">
     
           {% for tag in tags %}
           
               <a  href="{{ tag.get_absolute_url }}" class="badge rounded-pill text-bg-secondary">
                {{ tag }}</a>
            
            {% endfor %}

      
        {% for category in categories %}
        <div class="list-group my-3">
            <a href="{{ category.get_absolute_url }}" class="list-group-item list-group-item-action " aria-current="true">
                 {{ category.title }}
            </a>
        </div>
            {% endfor %}
            
      

      
      </div>    
      
      <nav class="mt-5 px-4" aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            {% if page_obj.has_previous %}
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                {% endif %}
            </a>
          </li>


          {% for i in page_obj.paginator.page_range %}
          {% if data.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
      {% endfor %}
        
          {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="#">  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a></li>
          {% endif %}
          <li class="page-item">
            {% if page_obj.has_next %}
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            {% endif %}
          </li>
        </ul>
      </nav>





     
</div>

{% endblock container %}
    


